<section class="py-8 antialiased md:py-16">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">
      Shopping Cart {{ products.length }}
    </h2>

    <div class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8">
      <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">
        <div class="space-y-6">
          @for (item of products; track $index) {

          <div
            class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 md:p-6"
          >
            <div
              class="space-y-4 md:flex md:items-center md:justify-between md:gap-6 md:space-y-0"
            >
              <div class="shrink-0 md:order-1">
                <img
                  class="h-20 w-20"
                  [src]="item.images[0]"
                  [alt]="item.name"
                />
              </div>

              <label for="counter-input" class="sr-only"
                >Choose quantity:</label
              >
              <div
                class="flex items-center justify-between md:order-3 md:justify-end"
              >
                <div class="text-end md:order-4 md:w-32">
                  <p class="text-base font-bold text-gray-900 dark:text-white">
                    {{ item.discountedPrice | currency : "INR" }}
                  </p>
                </div>
              </div>

              <div
                class="w-full min-w-0 flex-1 space-y-4 md:order-2 md:max-w-md"
              >
                <div
                  class="text-base font-medium text-gray-900 hover:underline dark:text-white"
                >
                  {{ item.description }}
                </div>

                <div class="flex items-center gap-4">
                  <button
                    type="button"
                    (click)="removeFromCart(item._id)"
                    class="inline-flex items-center text-sm font-medium text-red-600 hover:underline dark:text-red-500"
                  >
                    <svg
                      class="me-1.5 h-5 w-5"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18 17.94 6M18 18 6.06 6"
                      />
                    </svg>
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
          }
          <div
            class="flex justify-end items-center max-md:flex-col max-md:justify-center"
          >
            <a
              href="#"
              class="flex items-center justify-center rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >Proceed to Checkout</a
            >

            <span
              class="text-sm font-normal text-gray-500 dark:text-gray-400 mx-4 max-md:my-4"
            >
              or
            </span>
            <div class="flex items-center justify-center gap-2">
              <a
                routerLink="/"
                class="inline-flex items-center gap-2 text-sm font-medium text-blue-700 underline hover:no-underline dark:text-blue-500"
              >
                Continue Shopping
                <svg
                  class="h-5 w-5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 12H5m14 0-4 4m4-4-4-4"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
